<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">


    <!--连接工厂配置 生产connection-->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.25.128:61616"></property>
    </bean>

    <!--spring用于管理connectionFactory 的 connectionFacotry-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">

        <!--目标factory对应真实的可以产生jms的factory-->
        <property name="targetConnectionFactory" ref="targetConnectionFactory"></property>

    </bean>

    <!--spring提供工具类 可以进行消息发送/接收等-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">

        <!--factory对应spring提供factory-->
        <property name="connectionFactory" ref="connectionFactory"></property>

    </bean>

    <!--队列目的地，点对点文本信息-->
    <bean id="queueSolrDestination" class="org.apache.activemq.command.ActiveMQQueue">

        <constructor-arg value="pinyougou_queue_solr"></constructor-arg>

    </bean>
    <!--队列目的地，删除点对点文本信息-->
    <bean id="queueSolrDeleteDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_queue_solr_delete"></constructor-arg>
    </bean>

    <!--订阅模式文本信息-->
    <bean id="topicPageDestination" class="org.apache.activemq.command.ActiveMQTopic">

        <constructor-arg value="pinyougou_topic_page"></constructor-arg>

    </bean>

    <!--队列目的地 订阅模式 删除-->
    <bean id="topicPageDeleteDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="pinyougou_topic_page_delete"></constructor-arg>
    </bean>

</beans>